*{
  margin: 0;
  padding: 0;
}
body{
  font-family: monospace;
  overflow-x: auto;
}

.box{
  height: 100vh;
  max-width: 500px;
  background: lightblue;
  margin: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.box h2{
  text-align: center;
}
header{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
}

.card{
  width: 250px;
  height: 250px;
  background: whitesmoke;
  margin-top: 10px;
  padding: 12px;
}